.productImage {
    width: 300px; 
    height: 150px; 
    margin: 23px; 
}

.productBox {
    display: flex; 
    /* justify-content: space-between;  */
    background-color: #D34735; 
    width: 550px; 
    height: 200px; 
    position: relative; 
    margin-top: 50px; 
    margin-left: 20px;  
}

.productDetails {
    margin-top: 10px; 
    display: flex; 
    justify-content: space-between; 
    display: table-column; 
}

.buttonBox {
    display: flex; 
    justify-content: space-between;
    display: inline;
    padding: 25px; 
}

.buttons1 {
    margin: 10px; 
    height: 20px; 
    background-color: #3AD886; 

}


 